<div class="container">
    <div class="details">
      <app-title title="Register"></app-title>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <!-- Name input -->
        <text-input
          [control]="fc['name']"
          [showErrorsWhen]="isSubmitted"
          label="Name">
        </text-input>
  
        <!-- Email input -->
        <text-input
          [control]="fc['email']"
          [showErrorsWhen]="isSubmitted"
          label="Email"
          type="email">
        </text-input>
  
        <!-- Password input -->
        <text-input
          [control]="fc['password']"
          [showErrorsWhen]="isSubmitted"
          label="Password"
          type="password">
        </text-input>
  
        <!-- Confirm Password input -->
        <text-input
          [control]="fc['confirmPassword']"
          [showErrorsWhen]="isSubmitted"
          label="Confirm Password"
          type="password">
        </text-input>
  
        <!-- Address input -->
        <text-input
          [control]="fc['address']"
          [showErrorsWhen]="isSubmitted"
          label="Address">
        </text-input>
  
        <!-- User type selection -->
        <div class="form-group">
          <label>User Type</label><br>
          <input type="radio" formControlName="userType" value="buyer" checked> Buyer
          <input type="radio" formControlName="userType" value="seller"> Seller
        </div>
  
        <!-- Register button -->
        <default-button text="Register"></default-button>
  
        <!-- Login link -->
        <div class="login">
          Already a user? &nbsp;
          <a routerLink="/login" [queryParams]="{returnUrl:returnUrl}">
            Login Here
          </a>
        </div>
      </form>
    </div>
  </div>
  
